<div id="main">
  <mat-tab-group [(selectedIndex)]=selectedTab>
    <mat-tab *ngFor="let city of cities"
     label="{{ city }}">
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="addTab()">
           +
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <app-current-weather city="{{ cities[selectedTab] }}"></app-current-weather>
  <app-forecast-weather city="{{ cities[selectedTab] }}"></app-forecast-weather>

  <div id="empty" *ngIf="cities.length === 0" >
    <p>No cities</p>
  </div>
</div>
