<mat-toolbar id="toolbar">
  <span *ngIf="user">{{user.name}}</span>
  <span class=spacer></span>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div *ngIf="cityList" id="main">
  <mat-tab-group [(selectedIndex)]=selectedTab>
    <mat-tab *ngFor="let city of cityList.cities; let i = index" [attr.data-index]="i">
     <ng-template mat-tab-label>
      {{ city }}
      <button mat-icon-button class="removeTab" (click)="removeTab(i)">
        <i class="material-icons material-close-icons">
          clear
        </i>
     </button>
      </ng-template>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="addTab()" tabindex="-1">
          <i class="material-icons">
            add
          </i>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <app-current-weather *ngIf="cityList.cities.length !== 0" city="{{ cityList.cities[selectedTab] }}"></app-current-weather>
  <app-forecast-weather *ngIf="cityList.cities.length !== 0" city="{{ cityList.cities[selectedTab] }}"></app-forecast-weather>

  <div id="empty" *ngIf="cityList.cities.length === 0" >
    <p>No cities</p>
  </div>
</div>

<p *ngIf="cityList === null">Oh noes</p>
