<div class="main">
  <form [formGroup]="registerForm" class="form-container">
    <h2>Register</h2>
    <mat-form-field>
        <mat-label for="name">Username</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="onSubmit(registerForm.value)">Register</button>
  </form>
</div>
