<div *ngIf="currentWeather">
  <ul>
    <li>{{ currentWeather.city }}, {{ currentWeather.countryCode }}</li>
    <li>{{ currentWeather.unixTime*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</li>

    <li>{{ currentWeather.description }}</li>
    <li><img src="{{ currentWeather.iconUrl }}"/></li>
    <li>{{ currentWeather.temperatureInKelvin | temperature : 'K':'C' }} C°</li>
    <li>{{ currentWeather.pressureInHectoPascal }} hPa</li>
    <li>{{ currentWeather.humidityPercent }}%</li>
    <li>
      <app-wind-widget
        x="0"
        y="0"
        size="200"
        speedInMeterPerSecond="{{ currentWeather.windSpeedInMeterPerSecond }}"
        directionInDegrees="{{ currentWeather.windDirectionInDegrees }}">
      </app-wind-widget>
    </li>
    <li>{{ currentWeather.cloudinessPercent }}%</li>
  </ul>
</div>

<div *ngIf="forecastWeather">
  <ul>
    <li>{{ forecastWeather.city }}</li>
    <li>{{ forecastWeather.countryCode }}</li>

  </ul>

  <ul>
    <li *ngFor="let ut of forecastWeather.unixTime | slice:0:5">{{ ut*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</li>
    <li *ngFor="let tk of forecastWeather.temperatureInKelvin | slice:0:5 ">{{ tk | temperature : 'K':'C' }} C°</li>
  </ul>
</div>
