<div *ngIf="currentWeather">

<div class="current-weather">
  <div class="weather-image-container">
    <img class="weather-image" src="{{ currentWeather.iconUrl }}"/>
  </div>
  <div class="location-status">
    <div class="location">{{ currentWeather.city }}, {{ currentWeather.countryCode }}</div>
    <div class="status">{{ currentWeather.description }}</div>
  </div>
</div>

{{ currentWeather.unixTime * 1000 | date:'yyyy/MM/dd HH:mm:ss' }}
{{ currentWeather.temperatureInKelvin | temperature : 'K':'C' }} C°
{{ currentWeather.pressureInHectoPascal }} hPa
{{ currentWeather.humidityPercent }}%

      <app-wind-widget
        speedInMeterPerSecond="{{ currentWeather.windSpeedInMeterPerSecond }}"
        directionInDegrees="{{ currentWeather.windDirectionInDegrees }}">
      </app-wind-widget>

{{ currentWeather.cloudinessPercent }}%

<div *ngIf="0">
  <ul>
    <li>{{ forecastWeather.city }}</li>
    <li>{{ forecastWeather.countryCode }}</li>

  </ul>

  <ul>
    <li *ngFor="let ut of forecastWeather.unixTime | slice:0:5">{{ ut*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</li>
    <li *ngFor="let tk of forecastWeather.temperatureInKelvin | slice:0:5 ">{{ tk | temperature : 'K':'C' }} C°</li>
  </ul>
</div>
