<div class="main">
  <form [formGroup]="loginForm" class="form-container">
    <h2>Login</h2>
    <mat-form-field>
        <mat-label for="name">Username</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="onSubmit(loginForm.value)">Login</button>
    <p *ngIf="errorMessage" class="errors">{{ errorMessage }}</p>
    <p>Don't have an account? <a href="/account/register">Register here!</a></p>
  </form>
</div>
