* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', Arial, sans-serif;
}
#main {
  background-color: #F4F4F2;
}
#top {
  position: relative;
  height: 120px;
  color: #575761;
  background-color: #FFBF46;
}
#status-img {
  position: absolute;
  top: 10px;
  right: 10px;
}
#city-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#datetime {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0,-50%);
}
#top p {
  text-align: center;
}
#city{
  font-size: 30px;
  font-weight: bold;
}
#status {
  font-size: 25px;
}
#weekday {
  font-size: 20px;
}
#date{
  font-size: 20px;
}
#time{
  font-size: 18px;
}
#summary {
  display:flex;
  height: 250px;
  color: #648381;
}
#temperature {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
#temperature p:nth-child(1) {
  font-size: 70px;
  flex-basis: 100px;
  text-align: right;
  padding: 3px;
}
#temperature p:nth-child(2) {
  font-size: 70px;
  flex-basis: 100px;
  padding: 3px;
}
#summary-separator {
  flex: 0 0 1px;
  height: 80%;
  align-self: center;
  background-color: #648381;
}
#wind-widget-container {
  display: flex;
  flex: 1;
}
#wind-widget {
  margin: auto;
}
#detail-list {
  display: flex;
  height: 120px;
  width: 100%;
  color: #F4F4F2;
  background-color: #60606B;
  align-items: center;
  justify-content: left;
}
#detail-list li {
  flex: 1;
  list-style: none;
}
/* https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div
 */
#detail-list div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#detail-list svg {
  width: 40px;
  height: 40px;
  fill: #FFBF46;
 }
#detail-list p {
  font-size: 25px;
  padding-left: 5px;
}

@media(max-width:600px) {

  #top {
    padding: 20px;
    height: initial;
  }
  #city-status {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
  #datetime {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    padding-top: 20px;
  }
  #top p {
    text-align: initial;
    line-height: 1.3em;
  }

  #summary {
    flex-direction: column;
    height: initial;
  }
  #temperature {
    flex-basis: 150px;
  }
  #summary-separator {
    height: initial;
    width: 10%
  }
  #wind-widget-container {
    flex-basis: 250px;
  }
  #detail-list {
    height: initial;
    flex-direction: column;
  }
  #detail-list li {
    padding: 10px;
  }
}
